
.alu{
	height: auto;
}
.alu h2{
	font-family: tahoma;
	font-size: 12pt;
	color: #0394E8;
	margin-bottom: 10px;
	margin-left: 15px;

}
.alu ul li{
	list-style: none;
	margin-left: 15px;
}
.abc{
	height: 
}
